body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0097A7;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 0.4s forwards;
}



.description-container1 {
    background-color: #e0f0ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 0.8s forwards;
}

.description-container2 {
    background-color: #e0f0ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 1.2s forwards;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 1.6s forwards;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #0097A7;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 1.6s forwards;
}


.table-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 2s forwards;
}



footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    opacity: 0;
    animation: fade-in-slide-up 0.5s ease 2.4s forwards;
}



main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 150px;
}



.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

.product img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}

.rating {
    color: #f8ce0b;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

button {
    background-color: #0097A7;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}

button:hover {
    background-color: #007c91;
}



.arrow {
    margin-left: 10px;
}

.product-description {
    margin: 1rem 0;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    display: none;
}

.social-container {
    display: inline-block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}



.my-table {
    width: 66%;
    margin: 20px;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: #F8F8F8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.my-table th {
    background-color: #0097A7;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #0097A7;
}

.my-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid #0097A7;
}

.my-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.my-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.my-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.my-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.red-text {
    text-decoration: line-through;
    color: red;
}

.green-text {
    color: green;
}

#product-2 {
    background-color: indianred;
    border: 2px solid red;
}

#product-1 {

}



.product:hover {
    border: 2px solid green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.arrow-container:hover {
    
    background-color: #54E1B6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.description-container1:hover {

    background-color: #8BC3E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.description-container2:hover {

    background-color: #8BC3E3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.my-table:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}



.arrow-container:hover .arrow {
    color: #ffffff;
}

@keyframes fade-in-slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


      
      
